extends layout

block content
    center
      h1 Twitter Hashtag Serch
      h2 Tweets found for #{hashtag}: #{tweetsFound} 
      h2 Total likes: #{likeCount}, Total Retweet: #{likeRetweet}
      h2 Average like: #{likePercentCount}%, Average Retweet: #{likePercentRetweet}%
      h2 #{advice}
    ul
      each tweet in tweets
          li= tweet.text