extends layout

block content
    center
      h1 Twitter Hashtag Serch
      h2 Tweets found for #{hashtag}: #{tweetsFound}
      h2 Average like: #{likeCount}%, Average Retweet: #{likeRetweet}%
      h2 #{advice}
    ul
      each tweet in tweets
          li= tweet.text